.example-full-width {
    width: 100%;
}
.id-box{
    width:auto;
}
.dl-box{
    background-color:blue;
    border-style: solid;
    border-color:black;
}
.mat-raised-button{
    overflow-wrap: break-word;
}
.who-box{
    width:100%;
   
}
.id-box{
    width:100%; 
    height: 80px;
}
    .viewport{
   height: 300px;
   overflow-y: scroll ;
}
.add-person{
    height: 200px;
}
.details-container{
    height:394px;
    overflow-y: scroll ;
}
#incident-stepper{
    position: fixed;
    top: 50%;
    left: 50%; 
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    width:100%;
   }
