.example-full-width {
    width: 100%;
}
.id-box{
    width:auto;
}
.dl-box{
    background-color:blue;
    border-style: solid;
    border-color:black;
}
.mat-raised-button{
    overflow-wrap: break-word;
}
.who-box{
    width:100%;
   
}
.id-box{
    width:100%; 
    height: 80px;
}
    .viewport{
   height: 300px;
   overflow-y: scroll ;
}
.mat-card{
    height: 200px;
}
.details-container{
    height:394px;
    overflow-y: scroll ;
}

